header{
	background-color: orange;
	padding-top: 120px;
	padding-bottom: 90px;
	margin-bottom: 50px;
	text-align: center;
}
header span{
	color:white;
	border-bottom: 2px solid;
	font-size: 26px;
	letter-spacing: 1.3px;
	line-height: 3;
	padding-bottom: 10px;
	font-weight: lighter;
	border-bottom-color: gainsboro; 
}
h1{
	font-size: 50px;
	font-weight: normal;
	margin-top: 24px;
	line-height: 1;
	color:white;
	text-shadow: 0 1px 0 rgba(0,0,0,.3);
}
body{
	background-color: teal;
}
p{
	font-family: sans-serif;
	color:white;
	text-align: center;
}
img{
	border:0;
}