.column{
	color:white;
	width: 31%;
	float: left;
	padding: 10px;
	height: 300px;
}
.row:after{
	content: "";
	display: table;
	clear: both;
}
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}
body{
	background-color: teal;
}